// MyFonts pageview tracking
@import url("//hello.myfonts.net/count/35875d");

// Stylesheet dependencies
@import '../../node_modules/normalize-scss/sass/normalize/import-now';
@import '../fonts/equity-text-a/stylesheet';
@import '../fonts/gutenberg-b/stylesheet';

// Color palette variables
:root {
	--colorBright: #fcf4e4;
	--colorSun: #f0e99a;
	--colorLime: #b7d87b;
	--colorJam: #cc3263;
	--colorPlum: #53284f;
	--colorDark: #101820;
}

// Sizing variables
$gen_spacing: 2rem;

// Box sizing
*,
*::before,
*::after {
	box-sizing: border-box;
}

// Default fill for inline SVGs
svg { fill: currentColor; }

// 'Golden Ratio' scale for headers and other elements
h1 { font-size: 2.618rem; }
small { font-size: 0.618rem; }

// Strip unit function for calculating font-sizes
@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

// Fluid type mixin
@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
	$u1: unit($min-vw);
	$u2: unit($max-vw);
	$u3: unit($min-font-size);
	$u4: unit($max-font-size);

	@if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
		& {
			font-size: $min-font-size;
			@media screen and (min-width: $min-vw) {
				font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
			}
			@media screen and (min-width: $max-vw) {
				font-size: $max-font-size;
			}
		}
	}
}

// Fluid type variables
$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

.site {
	@include fluid-type($min_width, $max_width, $min_font, $max_font);
	line-height: 1.5;
	font-family: 'equity-text-a', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
}

.site__body {
	height: 100%;
	min-height: 100%;
}

.site__container {
	display: flex;
	min-height: 100%;
}

.site__main {
	display: flex;
	flex-flow: column;
	align-items: center;
	margin: auto;
	padding: calc(12vh + #{$gen_spacing}) $gen_spacing;

	@media screen and (orientation: landscape) {
		padding: $gen_spacing calc(12vh + #{$gen_spacing});
	}
}

.site__main__content {
	display: flex;
	flex-flow: column;
	align-items: center;
	margin: ($gen_spacing / 2) 0;
}

.site__main__content::before,
.site__main__content::after {
	content: '';
	width: calc(100% - 20vw);
	height: ($gen_spacing / 4);
	-webkit-mask-image: url('../images/strangespires-divider.svg');
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 100% auto;
}

.site__main__content::after {
	transform: scale(-1);
}

.site__main__headline {
	margin: 0;
	width: 100%;
	line-height: 1.25;
}

.site__main__paragraph {
	margin: ($gen_spacing / 6) 0;
	max-width: 24rem;
}

.site__main__paragraph--signature {
	font-size: 1.618rem;
	max-width: none;
}

.site__main__paragraph--signature::before {
	font-family: 'equity-text-a';
	content: '~';
}

.site__main__headline,
.site__main__paragraph--signature {
	font-family: 'ALOTGutenbergB';
	font-weight: normal;
	font-feature-settings:
		'onum',
		'calt',
		'clig',
		'liga',
		'dlig',
		'swsh';
}

@media screen and (max-width: 600px) {
	// Perfect Fifth scale
	h1 { font-size: 2.25rem; }
	small { font-size: 0.667rem; }

	.site__main__content {
		text-align: center;
	}
}

@media screen and (max-width: 400px) {
	// Major Third scale
	h1 { font-size: 1.563rem; }
	small { font-size: 0.8rem; }
}

.site__body {
	color: var(--colorDark);
	background-color: var(--colorLime);
}

.site__container {
	background-image:
		url('../images/strangespires-spires.svg'),
		url('../images/strangespires-sun.svg');
	background-position: center calc(100% + 10vw), center;
	background-repeat: no-repeat;
	background-size:
		100% auto,
		calc(100% - #{$gen_spacing * 2});

	@media screen and (orientation: portrait) {
		background-position: center bottom, center;
		background-size:
			100% auto,
			auto calc(100% - #{$gen_spacing / 2});
	}
}

.site__main {
	text-shadow: 0 0 3px var(--colorJam);
}

.site__main__header__logo {
	color: var(--colorDark);
}

.site__main__header__logo__src {
	filter: drop-shadow(0 0 2px var(--colorJam));
}

.site__main__content::before,
.site__main__content::after {
	background-color: var(--colorSun);
}

.site__main__paragraph {
	text-shadow: 0 0 3px var(--colorJam);
}