@media print {
	.site__body {
		color: black;
		background-color: white;
	}

	.site__container {
		background: none;
	}

	.site__main {
		text-shadow: none;
	}

	.site__main__header__logo {
		color: black;
	}

	.site__main__header__logo__src {
		filter: none;
	}

	.site__main__content::before,
	.site__main__content::after {
		background-color: rgba(black, 0.1);
	}

	.site__main__paragraph {
		text-shadow: none;
	}
}