$path: '../fonts/equity-text-a/';

@font-face {
	font-family: 'equity-text-a';
	src: url('#{$path}equity_text_a_regular-webfont.woff2') format('woff2'),
		 url('#{$path}equity_text_a_regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/*
@font-face {
	font-family: 'equity-text-a';
	src: url('#{$path}equity_text_a_bold-webfont.woff2') format('woff2'),
		 url('#{$path}equity_text_a_bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'equity-text-a';
	src: url('#{$path}equity_text_a_italic-webfont.woff2') format('woff2'),
		 url('#{$path}equity_text_a_italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'equity-text-a';
	src: url('#{$path}equity_text_a_bold_italic-webfont.woff2') format('woff2'),
		 url('#{$path}equity_text_a_bold_italic-webfont.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
*/