$path: '../fonts/gutenberg-b/';

@font-face {
	font-family: 'ALOTGutenbergB';
	src: url('#{$path}35875D_0_0.woff2') format('woff2'),
		 url('#{$path}35875D_0_0.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}